body {
  background-color: lightgrey;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
h1 {
  font-weight: bold;

  text-decoration: underline;
}
label {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
label:hover {
  text-decoration: underline;
  transition: text-decoration 0.2s;
}
textarea {
  line-height: 26px;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 20px;
  font-weight: bold;
  background-color: black;
  color: green;
  text-decoration: underline;
  border: none;
  overflow-y: hidden;
  box-sizing: border-box;
}
footer {
  margin-top: 30px;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
  font-weight: bold;
  transition: text-decoration 0.3s;
}
